@import "../../vendor/fonts.css";
.main__saved-page {
  min-height: 270px;
}
.main__column {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 40px 0 56px 104px;
  box-sizing: border-box;
}
.main__grey-title {
  width: 712px;
  height: 24px;
  top: 90px;
  left: 40px;
  opacity: 1;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0px;
  color: #1a1b2280;
}
.main__articles_saved {
  width: 336px;
  height: 68px;
  top: 130px;
  left: 40px;
  opacity: 1;
  font-size: 30px;
  line-height: 34px;
  letter-spacing: 0px;
  color: #1a1b22;
}
.main__keywords {
  width: 712px;
  height: 24px;
  top: 214px;
  left: 40px;
  opacity: 1;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0px;
}
.main__keywords-span {
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0px;
  color: #1a1b22;
  font-weight: 700;
}

@media screen and (max-width: 1025px) {
  .main__column {
    padding: 32px 24px 40px;
  }
  .main__grey-title,
  .main__articles_saved,
  .main__keywords {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .main__column {
    padding: 24px 16px 32px;
  }
  .main__articles_saved {
    font-size: 28px;
    line-height: 34px;
  }
  .main__keywords {
    font-size: 16px;
    line-height: 22px;
  }
}
