@import "../../vendor/fonts.css";
.footer__powered-by {
  color: #b6bcbf;
  font-size: 16px;
  text-decoration: none;
}
.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 104px;
  align-items: center;
  height: 80px;
}
.footer__nav {
  display: flex;
  flex-direction: row;
  gap: 40px;
}
.footer__navlink {
  color: #1a1b22;
  height: 24px;
  text-decoration: none;
}
.footer__navlink-img-container {
  display: flex;
  gap: 24px;
}
.footer__navlink-img {
  height: 24px;
  width: 24px;
}
@media screen and (max-width: 768px) {
  .footer {
    margin-top: 45px;
    padding: 20px 16px 22px;
    flex-direction: column-reverse;
    align-items: flex-start;
  }
  .footer__nav {
    justify-content: space-between;
    width: 100%;
    padding: 0 16px 40px 16px;
    align-self: flex-start;
    box-sizing: border-box;
  }
  .footer__column {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .footer__powered-by {
    justify-self: center;
    text-align: center;
    width: 100%;
  }
}
