@import "../../vendor/fonts.css";
.card {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  width: 100%;
  aspect-ratio: 400 / 576;
  max-height: 576px;
  position: relative;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
}
.card__img {
  width: 100%;
  height: 272px;
  object-fit: cover;
  flex-shrink: 0;
  display: block;
}
.card__bookmark {
  width: 24px;
  height: 24px;
  object-fit: contain;
}

.card__bookmark:hover {
  content: url("../../assets/bookmark-hovered.svg");
}
.card__removeIcon {
  width: 24px;
  height: 24px;
  object-fit: contain;
  content: url("../../assets/removeIcon.svg");
}

.card__removeIcon:hover {
  content: url("../../assets/removeIcon-hovered.svg");
}

.card__bookmark_background {
  border: none;
  background-color: white;
  z-index: 2;
  min-height: 40px;
  min-width: 40px;
  display: flex;
  background-image: url(../../assets/bookmark.svg);
  background-repeat: no-repeat;
  background-position: center;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}
.card__bookmark_background:hover {
  background-image: url(../../assets/bookmark-hovered.svg);
}

.card__bookmark_background_saved {
  border: none;
  background-image: url(../../assets/bookmarked.svg);
  padding: 0;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 8px;
  min-height: 40px;
  min-width: 40px;
}
.card__remove_background {
  border: none;
  background-color: white;
  z-index: 2;
  min-height: 40px;
  min-width: 40px;
  display: flex;
  background-image: url(../../assets/removeIcon.svg);
  background-repeat: no-repeat;
  background-position: center;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}
.card__remove_background:hover {
  background-image: url(../../assets/removeIcon-hovered.svg);
}
.card__articleSearched {
  background-color: white;
  padding: 8px 12px;
  display: flex;
  align-items: center;
  border-radius: 8px;
}
.card__bookmark_position {
  width: 100%;
  padding: 24px;
  box-sizing: border-box;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.card__row {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.card__bookmark_hoversign {
  width: 182px;
  height: 40px;
  border-radius: 10px;
  background-color: white;
  box-sizing: border-box;
  font-size: 12px;
  opacity: 1;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease;
}
.card__removeIcon_hoversign {
  width: 159px;
  height: 40px;
  border-radius: 10px;
  background-color: white;
  box-sizing: border-box;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  opacity: 1;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease;
}
.card__bookmark_position:hover .card__removeIcon_hoversign {
  opacity: 1;
}
.card__bookmark_position:hover .card__bookmark_hoversign {
  opacity: 1;
}
.card__text {
  padding: 20px 24px;
  display: flex;
  flex-direction: column;
  flex: 1;
  box-sizing: border-box;
}
.card__date {
  margin-bottom: 12px;
  font-family: "Source Sans Pro";
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  vertical-align: middle;
}
.card__description {
  max-width: 352px;
  height: 60px;
  font-size: 26px;
  line-height: 30px;
  letter-spacing: 0px;
  max-height: 60px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  margin-bottom: 16px;
}
.card__content {
  max-width: 352px;

  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  line-clamp: 5;
  -webkit-box-orient: vertical;
  margin-bottom: 18px;
}

.card__footer {
  margin-top: auto;
  color: #b6bcbf;
  letter-spacing: 0.4px;
  text-transform: uppercase;
}

.hidden {
  opacity: 0;
}
@media screen and (max-width: 1300px) {
  .news__cards-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 1025px) {
  .card__img {
    min-height: 196px;
  }
}
@media screen and (max-width: 768px) {
  .news__cards-container {
    grid-template-columns: 1fr;
  }

  .card__bookmark_hoversign,
  .card__removeIcon_hoversign {
    display: none;
  }

  .card__bookmark_position:hover .card__bookmark_hoversign,
  .card__bookmark_position:hover .card__removeIcon_hoversign {
    opacity: 0;
  }
}
