@import "./vendor/fonts.css";
@import "./components/Header/Header.css";
@import "./components/Footer/Footer.css";
@import "./components/About/About.css";
@import "./components/Preloader/Preloader.css";
@import "./components/News/News.css";
@import "./components/NewsCard/NewsCard.css";
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
}
h1 {
  margin: 0;
}
